<div class="grid" [formGroup]="group">
    <div class="field">
        <app-input-text label="E-mail" formControlName="userEmail" />
        <app-field-errors [control]="group.controls.userEmail" />
    </div>

    <div class="field">
        <app-input-text label="Usuário" formControlName="username" />
        <app-field-errors [control]="group.controls.username" />
    </div>

    <div class="field">
        <app-input-text label="Senha" type="password" formControlName="rawPassword" />
        <app-field-errors [control]="group.controls.rawPassword" />
    </div>

    <div class="field">
        <app-input-text label="Confirmar senha" type="password" formControlName="confirmPassword" />
        <app-field-errors [control]="group.controls.confirmPassword"
            [messages]="{ mustMatch: 'As senhas não conferem.' }" />
    </div>

    <div class="grid field--full" formGroupName="profile">
        <div class="field">
            <app-input-text label="Nome completo" formControlName="fullName" />
            <app-field-errors [control]="group.controls.profile.controls.fullName" />
        </div>

        <div class="field">
            <app-input-text label="CPF" formControlName="cpf" mask="000.000.000-00" [dropSpecialCharacters]="true" />
            <app-field-errors label="CPF" [control]="group.controls.profile.controls.cpf" />
        </div>

        <div class="grid grid-3 field--full">
            <div class="field">
                <app-input-text label="RG" formControlName="rg" />
                <app-field-errors label="RG" [control]="group.controls.profile.controls.rg" />
            </div>

            <div class="field">
                <app-input-phone label="Telefone" formControlName="userPhone"></app-input-phone>
                <app-field-errors label="Telefone" [control]="group.get('profile.userPhone')" />
            </div>

            <div class="field">
                <app-input-text label="Nascimento" type="date" formControlName="birthDate" />
                <app-field-errors label="Data de nascimento" [control]="group.controls.profile.controls.birthDate" />
            </div>
        </div>

        <app-address-form class="field--full" [group]="group.controls.profile.controls.address" />
    </div>
</div>