@use 'colors' as *;

.chip {
    display: inline-flex;
    padding: .125rem .5rem;
    border-radius: 999px;
    color: $pure-white;
}

.chip-color-1 {
    background-color: $chip-blue;
}

.chip-color-2 {
    background-color: $chip-green;
}

.chip-color-3 {
    background-color: $chip-yellow;
}

.chip-color-4 {
    background-color: $chip-purple;
}

.chip-color-5 {
    background-color: $chip-red;
}

.chip-more {
    background-color: $chip-gray;
    color: $pure-white;
}