<div class="input-group">
    <label *ngIf="label" [attr.for]="inputId">{{ label }}</label>

    <input *ngIf="!mask" #inputEl [id]="inputId" [name]="inputId" [type]="type" [placeholder]="placeholder"
        [disabled]="disabled" [value]="value" (input)="handleInput($event)" (blur)="handleBlur()" />

    <input *ngIf="mask" #inputEl [id]="inputId" [name]="inputId" [type]="type" [placeholder]="placeholder"
        [disabled]="disabled" [mask]="mask!" [dropSpecialCharacters]="dropSpecialCharacters" [value]="value"
        (input)="handleInput($event)" (blur)="handleBlur()" />
</div>