<div class="side-menu d-flex column" [class.collapsed]="!menuExpanded" [class.menu-open]="menuExpandedOnMobile">
  <button class="menu-toggle" (click)="toggleMenu()">
    <mat-icon>{{ menuExpanded ? 'chevron_left' : 'chevron_right' }}</mat-icon>
  </button>

  <div class="menu-header d-flex center">
    <h2 *ngIf="menuExpanded; else logoCollapsed">BaitaHora</h2>
    <ng-template #logoCollapsed>
      <h2 class="collapsed-logo text-center">BH</h2>
    </ng-template>
  </div>

  <ul class="menu-list">
    <ng-container *ngFor="let item of menuItems">
      <li class="menu-item" [class.open]="selectedMenuTitle === item.label" *ngIf="
          (item.label === 'Dashboard' && canViewDashboard) ||
          (item.label === 'Gerenciamento' && canManage) ||
          (item.label !== 'Dashboard' && item.label !== 'Gerenciamento')
        ">
        <app-side-menu-item [item]="item" [menuExpanded]="menuExpanded" [selectedMenuTitle]="selectedMenuTitle"
          [canViewDashboard]="canViewDashboard" [canManage]="canManage" [pendingUnknownTotal]="pendingUnknownTotal()"
          [isSubmenuItemOpen]="isSubmenuItemOpen.bind(this)" (toggleSubmenu)="toggleSubmenu($event)"
          (toggleSubmenuItem)="toggleSubmenuItem($event.parent, $event.subItem)" (navigate)="navigateTo($event)" />
      </li>
    </ng-container>
  </ul>
  <app-profile-drawer [authUser]="authUser" [menuExpanded]="menuExpanded" [isOpen]="isProfileMenuOpen"
    (toggle)="onProfileClick()" (logout)="logout()" (profileDetails)="goToProfileDetails()"
    (openSettings)="goToProfileSettings()" />
</div>