<div class="grid" [formGroup]="group">
    <div class="field">
        <app-input-text label="CEP" formControlName="zipCode" [mask]="'00000-000'" [dropSpecialCharacters]="true">
        </app-input-text>
        <app-field-errors label="CEP" [control]="group.controls.zipCode"></app-field-errors>
    </div>

    <div class="field">
        <app-input-text label="Rua" formControlName="street"></app-input-text>
        <app-field-errors label="Rua" [control]="group.controls.street"></app-field-errors>
    </div>

    <div class="field">
        <app-input-text label="Cidade" formControlName="city"></app-input-text>
        <app-field-errors label="Cidade" [control]="group.controls.city"></app-field-errors>
    </div>

    <div class="field">
        <app-input-text label="Bairro" formControlName="neighborhood"></app-input-text>
        <app-field-errors label="Bairro" [control]="group.controls.neighborhood"></app-field-errors>
    </div>

    <div class="grid grid-3 field--full">
        <div class="field">
            <app-input-text label="Número" formControlName="number"></app-input-text>
            <app-field-errors label="Número" [control]="group.controls.number"></app-field-errors>
        </div>

        <div class="field">
            <app-input-text label="Estado" formControlName="state"></app-input-text>
            <app-field-errors label="Estado" [control]="group.controls.state"></app-field-errors>
        </div>

        <div class="field">
            <app-input-text label="Complemento" formControlName="complement"></app-input-text>
            <app-field-errors label="Complemento" [control]="group.controls.complement"></app-field-errors>
        </div>
    </div>
</div>