::ng-deep .mat-mdc-form-field {
  width: 100%;

  .mdc-text-field {
    background-color: #1e1e1e;
    border-radius: 6px;
    border: 1px solid #555;
    color: #fff;

    input {
      padding: 10px 30px;
      font-size: 16px;
    }

    &:focus-within {
      border-color: #6a5acd;
      box-shadow: 0 0 0 2px rgba(106, 90, 205, 0.3);
    }
  }

  .mat-mdc-form-field-subscript-wrapper {
    display: none; // remove helper text
  }

  .mat-mdc-form-field-label {
    color: #ddd;
    font-size: 14px;
    font-weight: 500;
  }
}
