@use 'colors' as *;

.dashboard-header {
  h1 {
    margin: 0;
  }

  .muted {
    margin-top: 6px;
    color: $muted;
  }
}

.empty {
  margin: 40px 0; 
  padding: 40px 0;

  svg {
    width: 48px;
    height: 48px;
    opacity: .4;
    margin-bottom: 16px;
  }

  h3 {
    margin: 0 0 6px;
    font-size: 18px;
    color: $text;
  }

  p {
    margin: 0;
    color: $muted;
  }
}


