<div class="grid" [formGroup]="group">
    <div class="field">
        <app-input label="Serviço" placeholder="Digite o nome do serviço" formControlName="name" />
        <app-field-errors [control]="group.controls.name" label="Serviço" />
    </div>

    <div class="field">
        <app-input type="currency" label="Preço" placeholder="Digite o preço" [fractionDigits]="2"
            formControlName="price" />
        <app-field-errors [control]="group.controls.price" label="Preço" />
    </div>

    <div class="field">
        <app-input label="Moeda" placeholder="Ex: BRL, USD…" formControlName="currency" />
        <app-field-errors [control]="group.controls.currency" label="Moeda" />
    </div>
</div>