<div class="metric-cards d-grid" [style.--cols]="columns">
    <article class="card metric d-grid" *ngFor="let m of items">

        <div class="metric-content">
            <div class="icon d-grid">
                <app-fa-icon *ngIf="m.faIcon; else textIcon" [icon]="m.faIcon" />
                <ng-template #textIcon>{{ m.icon || '•' }}</ng-template>
            </div>
        </div>

        <div>
            <div class="label fs-12">{{ m.label }}</div>
            <div class="value">{{ m.value }}</div>
        </div>

    </article>
</div>