.d-flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.jc-center {
    justify-content: center;
}

.jc-space-between {
    justify-content: space-between;
}

.column {
    flex-direction: column;
}

.center {
    align-items: center;
}

.mb-10 {
    margin-bottom: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.gap-10 {
    gap: 10px;
}