// =============================================
// Cores Base
// =============================================
$pure-black: #000000;
$pure-white: #ffffff;
$pure-orange: #ff5e00;
$pure-red: #ff0000;
$pure-yellow: #ffd000;
$pure-green: #007440;
$pure-cyan: #00ffc3;
$pure-purple: #8000ff;
$pure-blue-strong: #0047AB;
$pure-blue-light: #87CEFA;