@use 'colors' as *;
@use 'layouts' as *;
@use 'typography' as *;
@use 'form' as *;
@use 'input' as *;
@use 'table' as *;
@use 'modal' as *;
@use 'scrollbar' as *;
@use 'error' as *;
@use 'button' as *;

html, body {
  height: 100%;
  margin: 0;
  color: $pure-white;
}

body {
  background-color: #0f1115; 
}

.content-box {
  font-family: 'Orbitron', sans-serif;
  height: 88vh;
  width: 100%;
  max-width: 1400px;
  margin: 50px auto 0;
  padding: 34px;
  border-radius: 12px;
  color: $pure-white;
  overflow: hidden; 
}

.container-overflow {
  height: 78vh;
  overflow-y: auto;
  overflow-x: hidden;
  font-family: 'Orbitron', sans-serif;
  color: $pure-white;
  margin: 0 auto;
  padding: 10px;
  border-radius: 12px;
}