<div class="home-container d-flex column jc-center text-center">
    <h1>Bem-vindo ao <span>BaitaHora</span></h1>
    <p>Organize seu tempo do seu jeito, fácil e rápido.</p>

    <div class="button-group">
        <app-link-button [to]="['/onboarding/create-owner']" label="Criar Conta" variant="primary" />
        <app-button type="navigate" label="Entrar" (clicked)="openLoginModal()" />
    </div>
</div>

<app-login-modal *ngIf="showLogin" (close)="showLogin = false" (companiesDetected)="onCompaniesDetected($event)" />

<app-companies-modal *ngIf="showCompanies" [companies]="companies" (select)="onCompanySelected($event)"
    (close)="showCompanies = false" />