<div class="grid" [formGroup]="group">
    <div class="field">
        <app-input label="Cargo" placeholder="Digite o nome do cargo" formControlName="name" />
        <app-field-errors [control]="group.controls.name" />
    </div>

    <div class="field">
        <app-select label="Nível de acesso" formControlName="accessLevel" [options]="roleOptions" />
        <app-field-errors [control]="group.controls.accessLevel" />
    </div>

    <div class="field">
        <app-auto-complete formControlName="serviceOfferings" [options$]="serviceOfferingOptions$"
            [displayWith]="soDisplay" [trackBy]="soTrack" [multiple]="true" [showChips]="true"
            placeholder="Serviços vinculados" inputPlaceholder="Digite para buscar" />
        <app-field-errors [control]="group.controls.serviceOfferings" />
    </div>
</div>